* {
  font: "Arial";
}
body {
  background-color: cyan;
}

ul {
  background: yellow;
}

header .someParagraph {
  background: blue;
}

header .someParagraph:hover {
  background: green;
}

.someSection .someParagraph {
  background: blue;
}

#someID {
  background: red;
}
